//Main

/*body{
	background-color: $background;
	font-family: $Patua-One;
}

.primary-btn{
	@include button($primary, $primary-dark, #fff)
}

.secondary-btn {
	@include button($secondary, #ccc, #666)
}

.border{
	border: 1px solid #ccc;
//you can nest elements or selectors to target them more specifically
	p{
		color: red;
	}
}

.button-holder{
	@include ($button-holder)
}*/

.box-1{
	color: ($box-1-background, $box-1-color)

}


